


<div class="container row mt-3">

    <div class="col-3">
        <h2>Busquedas</h2>
        <hr>

        <ul class="list-group">
            <li 
                class="list-group-item"
                routerLink=""
                [routerLinkActiveOptions] = "{ exact : true }"
                routerLinkActive="active"
                >Por país</li>
            <li 
                class="list-group-item"
                routerLink="region"
                routerLinkActive="active"
                >Por región</li>
            <li 
                class="list-group-item"
                routerLink="capital"
                routerLinkActive="active"
            >Por carpital</li>
        </ul>
    </div>


    <div class="col">
        <h2> Busqueda por país </h2>
        <hr>
        <router-outlet></router-outlet>
    </div>


</div>